* {
    margin: 0;
    padding: 0;
}

.bg-img {
    /* The image used */
    background-image: url("DogNav.jpg");

    height: 40rem;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}

/* Pages Titles */
.Title {
    color: white;
    font-size: 8rem;
    font-weight: lighter;
    padding-top: 8%;
    display: flex;
    justify-content: center;
}

/* Position the navbar container inside the image */
.Navbar {
    width: 100%;
}

#Dogh1 {
    position: relative;
    top: 40px;
    padding-left: 50px;
    color: white;
    font-weight: lighter;
    font-size: 3.5rem;
}

/* The navbar */
.topnav {
    display: flex;
    justify-content: right;
    padding-right: 50px;
    overflow: hidden;
}

/* Navbar links */
.topnav a {
    float: right;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: lighter;
}

/* On Nav Hover */
a:hover {
    border-bottom: 3px solid white;
}

.active {
    border-bottom: 3px solid white;
}

/* Intro Card */
.IntroCard {
    margin: 5%;
    display: flex;
    flex-direction: row;
}

/* Add some padding inside the card container */
.IntroContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding: 100px;
    text-align: center;
    font-size: 1.5rem;
}

.IntroContainer p {
    padding-top: 20px;
}

/* Menu Card */
#Menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 3%;
}

.MenuCard {
    display: flex;
    flex-direction: column;
    padding: 1.5%;
    width: 20%;
    height: 20%;
    margin: 2%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

/* Contact Form */
/* Style inputs */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

/* Style the container/contact section */
.Contact {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    display: flex;
    justify-content: center;
}

/* Create two columns that float next to eachother */
.Contactcolumn {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

/* Clear floats after the columns */
.Contactrow:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

    .Contactcolumn,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/* Footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding: 3%;
    background-color: black;
    color: white;
    height: auto;
}

.footerSection,
h4,
p {
    padding-bottom: 10%;
}